
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.font_1 {
	font-family: 'Open Sans' , serif;
}

.font_2 {
	font-family: 'Bebas Neue', cursive;
}

.font_3 {
	font-family: 'Lato', sans-serif;
}
.font_4 {
	font-family: 'Lobster', cursive;
}